#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link type="text/css" rel="stylesheet" href="$!{basePath}/plug-in-ui/layer/skin/layer.css">
<script type="text/javascript" src="$!{basePath}/plug-in-ui/layer/layui.js"></script>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/p3/cms/cmsArticle.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">文章列表</div>
						<div class="panel-body">
							<div class="search">
								<div class="form-group col-sm-3">
									<label for="title" class="control-label col-sm-3 line34">标题</label>
									<div class="col-sm-8">
										<input type="text" name="title" id="title" value="$!{cmsArticle.title}" class="form-control" />
									</div>
								</div>
								
								<div class="form-group col-sm-3">
									<label for="columnId" class="control-label col-sm-3 line34">栏目</label>
									<div class="col-sm-8">
                                        <select name="columnId" id="columnId" class="form-control">
                                            <option value="">--请选择--</option>
											#foreach($!{menu} in $!{menuList})
                                                <option value="$!{menu.id}" #if($!{columnId} == $!{menu.id}) selected  #end>$!{menu.name}</option>
											#end
										</select>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">搜  索</button>
								<div class="clearfix"></div>
							</div>
							
							<div id="legend">
								<legend  class="le">
									<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/p3/cms/cmsArticle.do?toAdd')" >新增</button>
								</legend>
							</div>
							
							<table class="table table-striped">
								<thead>
                                    <th>标题</th>
                                    <th>图片</th>
                                    <th>栏目</th>
                                    <th>是否发布</th>
                                    <th>发布时间</th>
									<th>序号</th>
                                    <th>操作</th>
								</thead>
								<tbody>
									#if($!{pageInfos})
										#foreach($!{info} in $!{pageInfos})
											<tr>			
                                                <td>$!{info.title}</td>
                                                <td>
													#if ($info.imageHref)
														<img src="$!{basePath}/upload/img/cms/$!{info.imageHref}" width="50px" height="50px"/>
													#end
												</td>
												<td>
													 #foreach($column in $menuList)
														#if($!{info.columnId} == ${column.id})
															$!{column.name}
														#end
													 #end
												</td>
                                                <td>
													#if($!info.publish=='Y')
														是
														#elseif($!info.publish=='N')
															否
													#end
												</td>
                                                <td>$!dateTool.format("yyyy-MM-dd",$!{info.publishDate})</td>
												<td>$!{info.serialNumber}</td>
												<td class="last">
													<a href="javascript:doUrl('$!{basePath}/p3/cms/cmsArticle.do?toEdit&id=$!{info.id}')" >编辑</a>
													<a href="javascript:delData('$!{basePath}/p3/cms/cmsArticle.do?doDelete&id=$!{info.id}')">删除</a>
													#if($!info.publish=='Y')
														<a href="javascript:void(0)" onclick="doUpdatePublish('$!{info.id}','N')">取消发布</a>
													#else
														<a href="javascript:void(0)" onclick="doUpdatePublish('$!{info.id}','Y')">发布</a>
													#end
													##<a href="javascript:void(0)" onclick="openArticleInfo('$!{info.code}')">获取文章访问地址</a>
												</td>
											</tr>
										#end
									#end
								</tobody>
							</table>
							
                            <div class="text-right">
                                <!--公用翻页代码-->
                                #set($attr='formSubmit')
                                #showPageList($pageInfos $attr)
                                <!--END公用翻页代码-->
                            </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
        jQuery(document).ready(function(){
        	jQuery.ajax({  
    	        async : false,  
    	        cache:false,  
    	        type: 'POST',  
    	        dataType : "json",  
    	        url: '$!{basePath}/p3/cms/cmsMenu.do?tree',//请求的action路径  
    	        error: function () {//请求失败处理函数  
    	            alert('请求失败');
    	        },  
    	        success:function(data){ //请求成功后处理函数。   
					jQuery.each( data, function(i, n){
						jQuery("#" + n.id).html(n.name);
                    });
    	        }
    	    });  
        });

		function doUpdatePublish(articleId,publish) {
			jQuery.ajax({  
    	        url: '$!{basePath}/p3/cms/cmsArticle.do?doUpdatePublish',  
    	        type: 'POST',  
				data: {
					'articleId':articleId,
					'publish':publish
				},
    	        error: function () {//请求失败处理函数  
    	            alert('请求失败');
    	        },  
    	        success:function(data){ //请求成功后处理函数。   
					location.reload();
    	        }
    	    });
		}

        function openArticleInfo(code) {
			var html = "<label class=\"control-label col-sm-12 line34\">$!{basePath}/p3/cms/cmsController.do?doGetArticleInfo&code="+code+"&page=article</label>";
            layer.open({
                type: 1,
                title: '文章地址',
                closeBtn: 1,
            	area: ['637px', '150px'],
                shadeClose: true,
                skin: null,
                content: html
            });
		}

    </script>
</body>
</html>